// Quarto theme based on https://mozilla.design/mozilla/

/*-- scss:defaults --*/
// bootstrap variables https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

// Fonts
:root,
[data-bs-theme=light] {
 --bs-font-sans-serif: verdana, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

// Set fonts and layout
// Base layout https://getbootstrap.com/docs/5.1/components/navbar/#containers
$spacer: 1rem;
$navbar-padding-y: $spacer * 1.5;
$navbar-padding-x: null;

.sidebar-navigation .sidebar-item {
    font-size: 1.2rem
}

.nav-footer-center {
    font-size: 1rem !important;
    text-align: center !important;
}

div.quarto-post .body .listing-subtitle {
    font-weight: 300;
    font-size: .875em;
    margin-bottom: 0.5em;
    margin-top: 0.2em;
}

div.quarto-post .listing-description {
    font-size: .875em;
}

// Define colours
$black: #000000;
$white: #ffffff;
$neon-blue: #00ffff;
$lemon-yellow: #fff44f;
$warm-red: #ff4f5e;
$neon-green: #54ffbd;
$dark-purple: #6e008b;
$dark-green: #005e5e;
$dark-blue: #00458b;
$dark-grey: #959595;
$light-grey: #e7e5e2;

// Use colour
// navbar https://quarto.org/docs/output-formats/html-themes.html#navigation
$navbar-bg: $white;
$navbar-fg: $black;
$navbar-hl: $black;
$sidebar-bg: $white;
$sidebar-fg: $black;
$sidebar-hl: $warm-red;
$footer-bg: $black;
$footer-fg: $light-grey;

$link-color: $warm-red;


.btn-primary {
    background-color: #ff4f5e !important;
    border-color: #ff4f5e !important;
}

div.sidebar-item-container {
    &:hover {
        color: $warm-red !important;
    }
}

div.sidebar-item-container .active,
div.sidebar-item-container .show>.nav-link,
div.sidebar-item-container .sidebar-link>code {
	background-color: $white;
	color: $warm-red !important;
}

.quarto-listing-category .category.active {
    font-weight: 600;
    color: $warm-red;
}

/*--- scss:defaults ---*/
#quarto-content>* {
    padding-top: 0px;
}

.navbar {
    padding-bottom: 0.5rem;
}

.sidebar, .quarto-secondary-nav {
    padding-bottom: 0.5rem;
}

// .nav-footer-center, .nav-footer-right {
//     text-align: left !important;
// }

/*-- scss:rules --*/
// sidebar without right border
.sidebar.sidebar-navigation:not(.rollup) {
    border-right: 0px solid #ffffff !important
}

.sidebar.sidebar-navigation>* {
    padding-top: 0.5em;
}
