.text-muted {
    --bs-text-opacity: 1;
    color: #e7e5e2 !important;
}

.text-hero {
    --bs-text-opacity: 1;
    color: #959595 !important;
}

.nav-footer {
    background-color: #ffffff;
    color: #495057;
}
